[submodule "components/esp32-smbus"]
	path = components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus.git
[submodule "components/esp32-i2c-lcd1602"]
	path = components/esp32-i2c-lcd1602
	url = https://github.com/DavidAntliff/esp32-i2c-lcd1602.git

[submodule "components/esp32-si7021"]
	path = components/esp32-si7021
	url = https://github.com/NSBum/esp32-si7021
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb
